// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Amlogic, Inc. All rights reserved.
 * Create by XCray
 */

/dts-v1/;

#include "meson-g12a-u200.dts"

/ {
	compatible = "amlogic,u212\0amlogic,g12a";
	model = "Amlogic Meson G12A U212 platform M401A Box";
      aliases {
		    serial1 = &uart_A;
	    };

&uart_A {
    status = "okay";
    pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
    uart-has-rtscts;
    pinctrl-names = "default";
};

leds {
		compatible = "gpio-leds";
		power_led {
			led_name = "power_led";
                        gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		remote_led {
			led_name = "remote_led";
                        gpios = <&gpio_ao GPIOAO_10 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "rc-feedback";
		};
	};
};
